<div class="container-fluid">  
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Image</td>
            <td>Prix</td>
            <td>Quantité disponible</td>
            <td>Categorie</td>
            <td>Supprimer article</td>
            <td>Modifier article</td>
            
        </tr>
        <tr *ngFor="let art of articles">
        <td>{{art.idarticle}}</td>
        <td>{{art.nomarticle}}</td>
        <td>{{art.image}}</td>
        <td>{{art.prix}}</td>
        <td>{{art.qtedispo}}</td>
        <td>{{art.categorie}}</td>
        <td>ajouter panier a definir</td>
        <td><button class="btn btn-outline-warning  " (click)="afficherrArtById(art.idarticle)">modifier l'Article'</button></td>
        </table>
    </div>

<div *ngIf="article.idarticle==null"><h2 class="row justify-content-md-center">Ajouter un article</h2></div>
<div *ngIf="article.idarticle!=null"><h2 class="row justify-content-md-center">Article à Modifier</h2></div>

<div class="container-fluid ">
    <form (ngSubmit)="ajouterArt()">
        <div class="form-group">
        nom article: <input class="form-control" type="text" name="nomarticle" id="nomarticle" [(ngModel)]="article.nomarticle"><br>
        image : Fichier :<input type="file" name="fileInput" id="fileInput" (change)="selectEvent($event)"><br>
        Prix : <input  class="form-control" type="text" name="prix" id="prix" [(ngModel)]="article.prix"><br>
        Quantité disponible : <input  class="form-control" type="text" name="qtedispo" id="qtedispo" [(ngModel)]="article.qtedispo"><br>
        Categorie : <input  class="form-control" type="text" name="nomcategorie" id="nomcategorie" [(ngModel)]="categorie.nomcategorie"><br>
        
        <button  class="btn btn-success" type="submit">valider</button>
        <button class="btn btn-secondary" type="reset" (click)="remiseaZeroArt()">Annuler</button>
    </div>
    </form>

</div>