<div class="container-fluid">  
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Image</td>
            <td>Prix</td>
            <td>Quantité disponible</td>
            <td>Categorie</td>
            <td>Ajouter au Panier</td>
            <td>Quantité dans le panier</td>
            <td>Enlever du panier</td>
        </tr>
        <tr *ngFor="let art of articles">
        <td>{{art.idarticle}}</td>
        <td>{{art.nomarticle}}</td>
        <td *ngIf="art.image!=null"><img src="http://localhost:8030{{art.image}}" ></td>
        <td *ngIf="art.image==null">pas d image</td>
        <td>{{art.prix}}</td>
        <td>{{art.qtedispo}}</td>
        <td>{{art.categorie}}</td>

        
        <td>ajouter panier a definir</td>
        <td>Quantité panier a definir</td>
        <td>Enlever panier a definir</td>       
        </table>
    </div>